/* section-1 */
.beagle-blog{
    box-sizing: border-box;
    border: 2px solid #000000;
    width: 50%;
}
.beagle-heading{
    text-decoration:underline;
}
.read-more{
    color:#000000;
}

/* section-2 */
.image-heading{
    text-decoration:underline;
}


/* section-3 */
.list-heading{
    text-decoration:underline;
}
